body {
	background-color: baby pink;
	font-family: 'Times New Roman';
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.mouse{
	background-color:#D94A38;
	width:120px;
	height:20px;
	padding:40px;
	text-align: center;
	
}